.App {
  text-align: center;
}

.VideoPage {
  background-image: url('../../images/space.jpeg');
  height: 100vh;
  width: 100vw;
}

.title {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%);
  width: 25vw;
}

.gotoCharacter {
  width: 15vw;
  height: 12vh;
  background-image: url('../../images/startClear.png');
  background-repeat: none;
  background-size: 100% 100%;
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
}

.gotoCharacter:hover {
  box-shadow:inset 0 0 10px yellow;
}

video {
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  border: yellow solid 2px;
  width: 40vw;
  box-shadow: 5px 5px 10px  yellow;
}
